<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + '|Todo' %></title>
  <link href="/custom.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/scripts/scripts.js"></script>

</head>
<body>
<header>
  <h1><a href="/">TODO LIST</a></h1>
  <h2>YEA, it's a todo list...</h2>
</header>

<div id="main">
  <%= yield %>
</div>

<footer>
  <p>&copy;on to rails...</p>
</footer>

</body>
</html>